* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .CSS_background-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/backg.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
  
  .CSS_background-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(10px); /* Adjust blur as needed */
    z-index: 1;
  }
  
  form {
    max-width: 400px;
    margin: auto;
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(233, 242, 243, 0.7);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2; /* Ensures the form is above the blurred background */
    background: rgba(255, 255, 255, 0.4); /* Optional: Add a semi-transparent background to the form */
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
  }
  
  h1 {
    text-align: center;
  }
  
  .input-group {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .CSS_form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  .password-input {
    padding-right: 40px;
  }
  
  .CSS_btn-outline-secondary {
    position: absolute;
    right: 30px;
    width: 30px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 0;
    color: #090909;
  }
  
  .CSS_btn-outline-secondary:hover {
    background-color: transparent;
  }
  
  .mb-3.CSS_position-relative {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  button {
    margin-top: 25px;
    background-color: #242785;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: large;
  }
  
  button:hover {
    background-color: #3337a1;
  }
  
  a {
    color: #581fe9;
    text-decoration: none;
  }
  
  .mt-3 {
    text-align: center;
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    form {
      margin-top: 100px;
      padding: 15px;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    .CSS_form-control, .btn {
      font-size: 0.9rem;
    }
  
    button {
      padding: 8px;
    }
  }
  
  .CSS_h3 {
    margin-top: 18px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: x-large;
  }
  
  .CSS_btn-outline-secondary i {
    font-size: 16px; /* Adjust font size to make the icon smaller */
  }
  